<%= form_with(model: [event, comment]) do |form| %>
  <div class="field">
    <%= form.text_area :content, placeholder: "140文字以下で入力してください" %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する", class: "btn waves-effect" %>
  </div>
<% end %>
