version: 2
jobs:
  rubocop:
    docker:
      - image: circleci/ruby:2.6.3-node-browsers-legacy
        environment:
          RAILS_ENV: test
          PGHOST: 127.0.0.1
          PGUSER: root
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Gemfile.lock" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run:
          name: setup bundler
          command: sudo gem install bundler
      - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run: yarn install
      - save_cache:
          paths:
            - ./vendor/bundle
          key: v1-dependencies-{{ checksum "Gemfile.lock" }}
      # Rubocop
      - run:
          name: Rubocop
          command: bundle exec rubocop

#   rspec:
#     docker:
#       - image: circleci/ruby:2.6.3-node-browsers-legacy
#         environment:
#           RAILS_ENV: test
#           PGHOST: 127.0.0.1
#           PGUSER: root
#       # - image: circleci/postgres:9.6.2-alpine
#       - image: circleci/postgres:11.3
#         environment:
#           POSTGRES_USER: root
#           POSTGRES_DB: rails-vue-sandbox_test
#     working_directory: ~/repo
#     steps:
#       - checkout
#       - restore_cache:
#           keys:
#             - v1-dependencies-{{ checksum "Gemfile.lock" }}
#             # fallback to using the latest cache if no exact match is found
#             - v1-dependencies-
#       - run:
#           name: setup bundler
#           command: |
#             sudo gem install bundler
#       - run: bundle install --jobs=4 --retry=3 --path vendor/bundle
#       - run: yarn install
#       - save_cache:
#           paths:
#             - ./vendor/bundle
#           key: v1-dependencies-{{ checksum "Gemfile.lock" }}
#       # - run: mv config/database.yml.ci config/database.yml # ココらへんに追加
#       - run: bundle exec rake db:create
#       - run: bundle exec rake db:schema:load
#       # Rspec
#       - run:
#           name: Rspec
#           command: bundle exec rspec
#
# workflows:
#   version: 2
#   rubocop_rspec:
#     jobs:
#       - rubocop
#       - rspec:
#           requires:
#             - rubocop
