/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("green", "base") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.waves-button-input {
  color: #FFF;
}

input[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  display: none;
}

.field label {
  pointer-events: auto;
}

.page-footer {
  padding: 10px;
  text-align: center;
}

.card{
  overflow-wrap: break-word;
}

.card-content{
  font-size: 1.5rem;
  a.event-title {
    transition: all .3s;
    vertical-align: 100%;
    font-size: 1.5rem;
    &:hover {
      color: gold;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #E9EBEE;
}

.event_tab {
  background-color: #fff;
}

.card-image{
  position: relative;
}

.card-stacked{
  .card-content{
    position: relative;
  }
}

.card-finished{
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 3px;
  background-color: black;
  color: white;
  padding: 3px 5px;
  z-index: 3;
}

.comment-frame{
  border-bottom: dotted 1px #737373;
}

.error_explanation{
  color: red;
}
